@import "../../sass/variables.scss";

.mobile_menu {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 10;
  top: 0;
  left: 0;
}

.menu_toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 35px;
  border: none;
  cursor: pointer;
  background-color: black;
  padding-top: 5px;
  padding-left: 10px;
}

.bar {
  width: 30px;
  height: 2px;
  background-color: white;
  margin-bottom: 6px;
  align-self: flex-start;
}

.menu_items {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Fondo semi-transparente */
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu_items li {
  margin-bottom: 10px;
}

.menu_items a {
  color: white;
  text-decoration: none;
}

.menuLink {
  text-decoration: none;
  color: white;
  margin: 10px;
  font-size: 20px;
}
