@import "~/node_modules/swiper/swiper-bundle.css";

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.swiper-pagination {
  z-index: -1 !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.swiper-pagination-bullet {
  background: #fff !important;
}


@media (max-width: 912px) {
  .swiper-pagination {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 70px;
    margin-left: 10px;
  }
}