@import "../../sass/variables.scss";

.button {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

// .button:hover {
//   color: $baaxal-black !important;
// }

.button a {
  color: white;
  text-decoration: none;
}

.button:hover a {
  color: $baaxal-yellow !important;
}
