@import "../../sass/variables.scss";

.container {
  max-width: 80%;
  padding: 64px 0 64px 0;
  margin: 0 auto;
}

.title {
  color: white;
  margin-top: 0;
  padding-bottom: 32px;
}

.highlight {
  color: $baaxal-yellow;
}

.process {
  display: flex;
  flex-direction: column;
  align-items: center;
  }
  
.process img {
  max-width: 90%;
}

@media (max-width: 912px) {
  .container {
    height: 512px;
  }

  .swiper {
    max-height: 512px;
  }
}

// @media (max-width: 380px) {
//   .container {
//     height: 460px;
//   }

//   .swiper {
//     max-height: 460px;
//   }
// }