@import "../../sass/variables.scss";

.navbar {
  width: 100%;
  height: 128px;
  background-color: black;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.buttonsAlignment {
  display: flex;
  justify-content: flex-end;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-height: 100%;
}

.logo img {
  max-height: 80%;
}